$status: (
  success: colors(success-400),
  error: colors(danger-400)
);

%disabled {
  opacity: 0.8;
  pointer-events: none;
}

.c-input {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  &-label {
    padding-left: 1rem;
    @include font(18, open, semibold);
    line-height: 22px;
    color: colors(gray-400);
  }

  &-field {
    padding: 0.5rem 1rem;
    border-radius: 18px;
    background: colors(gray-100);
    color: colors(gray-400);
    border: 2px solid transparent;
    outline: none;
    @include font(16, open);
    line-height: 22px;

    &:disabled {
      @extend %disabled;
    }
  }

  &-info {
    padding-left: 1rem;
    @include font(14, open, light);
    line-height: 17px;
    font-style: italic;
    color: colors(gray-400);
  }

  &.disabled,
  &:disabled,
  &[aria-disabled="true"] {
    @extend %disabled;
  }
}

@each $key, $value in $status {
  .c-input.#{$key} {
    .c-input {
      &-label,
      &-info {
        color: $value;
      }

      &-field {
        border-color: $value;
      }
    }
  }
}
