.c-textarea {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  &-label {
    padding-left: 1rem;
    @include font(14, open, semibold);
    line-height: 17px;
    color: colors(gray-400);

    @media (min-width: 992px) {
      font-size: 18px;
      line-height: 22px;
    }
  }

  &-field {
    padding: 0.5rem 1rem;
    border-radius: 18px;
    background-color: colors(gray-100);
    color: colors(gray-400);
    border: 2px solid transparent;
    outline: none;
    @include font(16, open);
    line-height: 22px;
    min-height: 150px;
    resize: none;

    &:disabled {
      @extend %disabled-field;
    }
  }

  &-info {
    padding-left: 1rem;
    @include font(14, open, light);
    line-height: 17px;
    font-style: italic;
    color: colors(gray-400);
  }

  &.disabled,
  &:disabled,
  &[aria-disabled="true"] {
    @extend %disabled-field;
  }
}

@each $key, $value in $status-fields {
  .c-textarea.#{$key} {
    .c-textarea {
      &-label,
      &-info {
        color: $value;
      }

      &-field {
        border-color: $value;
      }
    }
  }
}
