@use "./helpers/index" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#__next {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
}

.image-banner {
  position: absolute;
  width: 460px;
  height: auto;
  top: 20px;
  right: -286px;
  z-index: 0;
  opacity: 0.7;

  @media (min-width: 992px) {
    width: 1240px;
    top: -610px;
    right: auto;
    left: 600px;
    rotate: -7.25deg;
  }
}

@import "../components/Button/style";
@import "../components/Input/style";
@import "../components/Select/style";
@import "../components/Layout/style";
@import "../components/Accordion/style";
@import "../components/Modal/style";
@import "../components/Header/style";
@import "../components/Carousel/style";
@import "../components/Footer/style";
@import "../components/CardPrice/style";
@import "../components/Project/style";
@import "../components/Newsletter/style";
@import "../components/Banner/style";
