$sides: (right, left);
$image-size: 500px;

.c-carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-bottom: calc(56% + 2rem);
  display: flex;
  height: 0;
  z-index: 1;

  @media (min-width: 992px) {
    padding-bottom: 0;
    height: calc($image-size + 4.5rem);
  }

  &-controls {
    display: flex;
    justify-content: center;
    align-items: center;

    @media (min-width: 992px) {
      height: $image-size;
    }
  }

  &-indicators {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    bottom: 0;
    z-index: 4;

    @media (min-width: 992px) {
      display: flex;
    }

    .dot {
      width: 0.75rem;
      height: 0.75rem;
      border: 2px solid colors(secondary-400);
      background-color: colors(secondary-400);
      border-radius: 50%;
      cursor: pointer;

      &.active {
        background-color: colors(light);
      }
    }
  }

  &-inner {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 2rem);
    overflow: hidden;

    @media (min-width: 992px) {
      height: $image-size;
    }

    &.transition {
      transition: all 0.75s;
    }
  }

  &-item {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    overflow: hidden;
    border-radius: 1rem;

    @media (min-width: 992px) {
      border-radius: 2rem;
    }
  }

  &-image {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }

  &-body {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-width: 240px;
    width: 100%;
    z-index: 5;
    left: 1.5rem;

    @media (min-width: 992px) {
      max-width: 250px;
      left: 7rem;
    }

    &-title,
    &-description,
    &-link {
      color: colors(gray-600);
      width: fit-content;
    }

    &-title {
      @include font(14, poppins, medium);
      line-height: 17px;

      @media (min-width: 992px) {
        @include font(36, poppins, semibold);
        line-height: 43px;
      }
    }

    &-description {
      @include font(12, open);
      line-height: 18px;

      @media (min-width: 992px) {
        @include font(17, open, semibold);
        line-height: 27px;
      }
    }

    &-link {
      @include font(12, poppins, semibold);
      line-height: 14px;
      text-decoration: none;

      @media (min-width: 992px) {
        @include font(18, open, bold);
        line-height: 22px;
        color: colors(secondary-dark);
      }
    }
  }

  &-tag {
    position: absolute;
    z-index: 5;
    right: 14px;
    top: 14px;
    @include font(12, open, semibold);
    color: colors(gray-600);
    line-height: 14px;

    @media (min-width: 992px) {
      top: 2rem;
      right: 2rem;
      color: colors(gray-500);
      @include font(18, open, bold);
      line-height: 25px;
    }
  }
}

@each $value in $sides {
  .c-carousel-controls-#{$value} {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    bottom: 0;
    #{$value}: 1rem;
    width: 1.5rem;
    height: 1.5rem;
    z-index: 4;

    @media (min-width: 992px) {
      background-color: colors(gray-100);
      #{$value}: 2rem;
      width: 3rem;
      height: 3rem;
      bottom: auto;
    }

    .c-icon {
      @include hex-to-filter(colors(secondary-400));
      width: 1rem;
      height: 1rem;

      @media (min-width: 992px) {
        width: 2rem;
        height: 2rem;
      }
    }
  }
}
