.c-footer {
  margin-top: auto;
  padding: 1.5rem 0 2.5rem;
  position: relative;
  background-image: linear-gradient(175deg, colors(gray-100) 25%, colors(light) 25% 100%);

  @media (min-width: 992px) {
    background-image: linear-gradient(175deg, colors(light) 25%, colors(gray-100) 25% 100%);
    padding-bottom: 3rem;
  }

  &-content {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    justify-content: center;
    align-items: center;
    @include container;
    padding: 0 1rem;

    @media (min-width: 992px) {
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: repeat(3, 1fr);
      width: 100%;
      align-items: flex-end;
    }
  }

  &-brand {
    display: flex;
    justify-content: center;
    align-items: center;

    @media (min-width: 992px) {
      grid-column: 1;
      width: auto;
      justify-content: flex-start;
    }

    img {
      width: 60px;
      height: auto;

      @media (min-width: 992px) {
        width: 68px;
        height: auto;
      }
    }
  }

  &-navbar {
    display: flex;

    @media (min-width: 992px) {
      order: 1;
      justify-content: flex-end;
    }

    .nav {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0.75rem;

      @media (min-width: 992px) {
        align-items: flex-end;
      }

      &-item {
        display: flex;
        width: fit-content;
        padding: 0;
        margin: 0;

        &:last-of-type {
          .nav-link {
            font-weight: $font-semi;

            @media (min-width: 992px) {
              padding-bottom: 0.5rem;
              border-bottom: 2px solid colors(gray-600);
            }

            &:hover {
              color: colors(secondary-400);
              border-bottom-color: colors(secondary-400);
            }
          }
        }
      }

      &-link {
        @include font(14, poppins, medium);
        line-height: 17px;
        color: colors(gray-600);
        text-decoration: none;

        &:hover {
          color: colors(primary-400);
        }
      }
    }
  }

  &-social {
    display: flex;
    gap: 2.5rem;
    justify-content: space-between;
    align-items: center;

    @media (min-width: 992px) {
      gap: 2rem;
      justify-content: center;
    }

    &-link {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 1.5rem;
      height: 1.5rem;

      .c-icon {
        width: auto;
        height: auto;
      }
    }
  }
}
