.posts {
  padding: 2rem 0;
  background-color: colors(light);
  display: flex;
  flex-direction: column;
  gap: 2rem;

  @media (min-width: 992px) {
    padding: 5rem 0;
    gap: 4rem;
  }

  .c-section {
    padding: 0 1rem;
  }
}
