.c-accordion {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @media (min-width: 992px) {
    gap: 2.5rem;
  }

  &-item {
    display: flex;
    flex-direction: column;
    gap: 0;
    border-bottom: 2px solid colors(gray-600);
    overflow: hidden;
    padding-bottom: 1rem;
    transition: gap 0.35s;

    @media (min-width: 992px) {
      padding-bottom: 1.5rem;
      border-width: 3px;
    }

    &.open {
      transition: gap 0s;
      gap: 1rem;

      @media (min-width: 992px) {
        gap: 1.5rem;
      }

      .c-accordion {
        &-header {
          .c-icon {
            rotate: 180deg;
          }
        }

        &-body {
          max-height: 500px;
          transition: max-height 0.75s;
        }
      }
    }
  }

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    @include font(14, poppins, semibold);
    line-height: 17px;
    color: colors(gray-600);
    cursor: pointer;
    border: none;
    background: none;

    @media (min-width: 992px) {
      font-size: 1.5rem;
      font-weight: $font-bold;
      line-height: 29px;
      gap: 1rem;
    }

    .c-icon {
      min-width: 1rem;
      min-height: 1rem;
      max-width: 1rem;
      max-height: 1rem;
      width: 1rem;
      height: 1rem;
      transition: rotate 0.5s;
    }
  }

  &-body {
    display: flex;
    @include font(12, open, semibold);
    line-height: 18px;
    color: colors(gray-600);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.25s;

    @media (min-width: 992px) {
      font-size: 18px;
      font-weight: $font-normal;
      line-height: 27px;
    }
  }
}
